.button {

}
.button:hover {
    background-color: rgb(32, 32, 56);
}

.button-current {
    display: flex;
    color: White;
    font-family: AlteDin;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    height: 50px;
    width: 100px;
    text-decoration: none;
    margin-right: 5px;
    border: 5px;
    justify-content: center;
}

.button-current:hover {
    background-color: rgb(42, 42, 56);
}

body {
    background-color: rgb(236, 236, 236);
    color: #e1e1e8
}

p {
    color: rgb(22, 22, 22);
}
h1 {
    color: rgb(22, 22, 22);
}
h2 {
    color: rgb(22, 22, 22);
}

.topnav {
    width: 1500px;
    display: flex;
    background-color: #555;
    overflow: auto;
    justify-content: center;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}
.topnav a{
    display: flex;
    color: White;
    font-family: AlteDin;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    height: 50px;
    width: 100px;
    text-decoration: underline;
    margin-right: 5px;
    border: 5px;
    justify-content: center;
} 

.maincontent {
    margin-left:auto;
    margin-right:auto;
    padding-top: 10px;
    width:1500px;
    height:900px;
    background-color:rgba(200, 200, 205, 0.9);
}