@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: 
    linear-gradient(136deg, rgba(0,0,255,0.5), rgb(128,0,128,0.5), rgba(255, 0, 255, 0.5)),
    url("img/background.png");

}
.topnav {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #333;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    align-items: center;
    left: 0;
    top: 0;
    position: fixed;
}
.topnav a {
    display: fixed;
    color: White;
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    margin-right: 5px;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-decoration: none;
}
.topnav a:hover {
    background: #555;
    text-decoration: underline;
}
#discordButton {
    display: inline-flex;
    position: relative;
}
#DiscordButton a {
    padding-right: 8px;
    display: block;
    text-align: center;
}
.discordIcon {
    height: 50px;
    width: 100px;
    position: relative;
    justify-content: center;
}
#githubButton {
    display: inline-flex;
    position: relative;
}
#githubButton a {
    padding-right: -8px;
    display: block;
    text-align: center;
}
.GithubIcon {
    height: 50px;
    width: 100px;
    position: relative;
    justify-content: center;
}
.social-links {
    padding-top: 50px;
    font-family: Poppins;
    color: rgb(22, 22, 22);
    justify-content: center;
    text-align: center;
    align-content: center;
}
.mods {
    padding-top: 50px;
    position: relative;
    justify-content: center;
    font-family: Poppins;
    padding-top: 40px;
    color: rgb(22, 22, 22);
    text-align: center;
}
.packs {
    padding-top: 50px;
    position: relative;
    justify-content: center;
    font-family: Poppins;
    color: rgb(22, 22, 22);
    text-align: center;
}
.misc {
    padding-top: 50px;
    position: relative;
    justify-content: center;
    font-family: Poppins;
    color: rgb(22, 22, 22);
    text-align: center;
}
.webpage {
    font-family: Poppins;
    padding-top: 40px;
    color: rgb(22, 22, 22);
    text-align: center;
}
.SocialButton {
    width: 50px;
    height: 50px;
    display: inline-flex;
}
.SocialButton:hover {
    background-color: rgb(70, 70, 70);
}
.SocialButtonIcon {
    width: 50px;
    height: 50px;
}
.packlist {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50px;
}
.packlist a {
    font-size: 25px;
    display: flex;
    color: rgb(22, 22, 22);
    font-family: Poppins;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 250px;
    margin-right: 25px;
    margin-left: 25px;
}
.packlist a:hover {
    color: rgb(66,66,66);
}
.packlistpics {
    width: 256px;
    height: 256px;
    margin-right: 25px;
    margin-left: 25px;
    
}