@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.button:hover {
    background-color: rgb(32, 32, 56);
}

.pButton {
    display: flex;
    color: rgb(44, 44, 44);
    font-family: Poppins;
}


.button-current {
    display: flex;
    color: White;
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    margin-right: 5px;
    border: 5px;
    justify-content: center;
}

.button-current:hover {
    background-color: rgb(42, 42, 56);
}

body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: 
    linear-gradient(to bottom, rgba(200, 200, 205, 0.75), rgba(180, 180, 185, 0.75)),
    url("img/background.png");
    color: #e1e1e8;
    font-family: Poppins;
}

p {
    color: rgb(22, 22, 22);
}
h1 {
    color: rgb(22, 22, 22);
}
h3 {
    color: rgb(22, 22, 22);
}
h2 {
    color: rgb(22, 22, 22);
}
.topnav {
    width: 100vw;
    height: 50px;
    display: flex;
    background-color: #555;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    margin-left:-8px;
    margin-right:auto;
    margin-top: -8px;
}
.topnav a {
    display: fixed;
    color: White;
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    margin-right: 5px;
    justify-content: center;
    height: 50px;
    width: 100px;
    line-height: 50px;
}

#discordButton {
    display: inline-flex;
    position: relative;
}
#DiscordButton a {
    padding-right: 8px;
    display: block;
    text-align: center;
}
.discordIcon {
    height: 50px;
    width: 100px;
    position: relative;
    justify-content: center;
}
#githubButton {
    display: inline-flex;
    position: relative;
}
#githubButton a {
    padding-right: -8px;
    display: block;
    text-align: center;
}
.GithubIcon {
    height: 50px;
    width: 100px;
    position: relative;
    justify-content: center;
}
.discordIcon:hover {
    background-color: rgb(32, 32, 56);
}
.GithubIcon:hover {
    background-color: rgb(32, 32, 56);
}